@charset="utf-8";

html{
    font-family:  dashicons, 'Segoe UI', 'WenQuanYi Micro Hei', 'WenQuanYi Micro Hei Mono', 'Microsoft Yahei', 'Microsoft Yahei Mono', 微软雅黑, sans-serif;
}

::selection {
    background-color: #D4ECFF;
}

.unselectable{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.hide{
    display: none;
}

.normal-cursor{
    cursor: default;
}

::-webkit-scrollbar  
{  
    width: 8px;    
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 4px;  
    background-color: #C1C1C1;  
}  

body{
    position: static;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 48px;    
    margin-bottom: 8px;
}

#search-box{
    position: relative;
    display: inline-block;
    margin-right: 16px;
}

#search-icon{
    position: absolute;
    display: inline-box;
    top: 9px;
    left: 4px;
    z-index: 2;
}

#search{
    position: relative;
    top: 8px;
    display: inline-block;
    width: 320px;
    height: 32px;
    background-color: #1e88e5;  
    margin-right: 8px;
    border: none;
    font-size: 18px;
    border-radius: 4px;
    padding-left: 40px;
    padding-right: 8px;
    letter-spacing: 1px;
}

#search:focus{
    background-color: #03a9f4; 
}

#fuzzy-box{
    position: relative;
    top: 10px;
}

#fuzzy-box label{
    font-size: 16px;
}

#fuzzy-match{
    position: relative;
}

[type="checkbox"]+label{
    padding-left: 28px;
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after{
    border: 2px solid #fcfcfc;
}

[type="checkbox"]:checked+label:before{
    border-right: 2px solid #fcfcfc;
    border-bottom: 2px solid #fcfcfc;
}

header>span{
    display: inline-block;
    position: relative;
}

#title{
    font-size: 24px;
    position: relative;
    left: 10px;
    top: 6px;
    cursor: default;
}

main{
    position: relative;
    width: 100%;
}

#main{
    
}

#book-list{
    position: absolute;
    width: 96px;
    top: 24px;
    height: 100%;
    margin: 0;
}

#book-list>ul{
    margin: 0;
}

#book-list>ul>li>a{
    display: block;
    width: 96px;
    font-size: 20px;
    text-align: center;
    cursor: default;
}

.selected-list{
    border-left: 6px #2196f3 solid;
}

#book-content{
    position: relative;
    width: calc(100% - 96px);
    left: 96px;
    height: 100%;
    margin: 0;
    padding-left: 16px;
    overflow-y: scroll;
}

#book-content>ul>li{
    display: block;
    padding-left: 16px;
    padding-right: 32px;
}

#book-content>ul>li:hover{
    background: #eeeeee;
}

#book-content>ul>li button{
    display: none;
}

#book-content>ul>li:hover button{
    display: inline-block;
    font-size: 16px;
    border: none;
    background: none;
    position: relative;
    top: 4px;
}

.word{
    display: block;
    font-size: 32px;
}



.exp{
    margin-top: 4px;
}